<html>
  <head>
    <title>rubyinfo()</title>
    <style type="text/css">
body {background-color: #ffffff; color: #000000;}
body, td, th, h1, h2 {font-family: sans-serif;}
pre {margin: 0px; font-family: monospace;}
a:link {color: #000099; text-decoration: none; background-color: #ffffff;}
a:hover {text-decoration: underline;}
table {border-collapse: collapse;}
.center {text-align: center;}
.center table { margin-left: auto; margin-right: auto; text-align: left;}
.center th { text-align: center !important; }
td, th { border: 1px solid #000000; font-size: 75%; vertical-align: baseline;}
h1 {font-size: 150%;}
h2 {font-size: 125%;}
.p {text-align: left;}
.e {background-color: #ffcccc; font-weight: bold; color: #000000;}
.h {background-color: #ffaaaa; font-weight: bold; color: #000000;}
.v {background-color: #cccccc; color: #000000;}
.vr {background-color: #cccccc; text-align: right; color: #000000;}
img {float: right; border: 0px;}
hr {width: 600px; background-color: #cccccc; border: 0px; height: 1px; color: #000000;}
    </style>
  </head>
  <body>
    <div class="center">
      <table border="0" cellpadding="3" width="600">
      <tr class="h"><td><h1 class="p">Ruby Environment</h1>
      </td></tr>
      </table><br />
      <table border="0" cellpadding="3" width="600">
      <%%= ruby_environment %>
      </table><br /><hr />

      <table border="0" cellpadding="3" width="600">
      <tr class="h"><td><h1 class="p">WEBrick Configuration</h1>
      </td></tr>
      </table><br />
      <table border="0" cellpadding="3" width="600">
      <tr class="h"><th>Setting</th><th>Value</th></tr>
      <%%= webrick_environment %>
      </table><br /><hr />

      <table border="0" cellpadding="3" width="600">
      <tr class="h"><td><h1 class="p">Mime Types</h1>
      </td></tr>
      </table><br />
      <table border="0" cellpadding="3" width="600">
      <tr class="h"><th>Extension</th><th>Mime</th></tr>
      <%%= mime_types %>
      </table><br /><hr />

      <table border="0" cellpadding="3" width="600">
      <tr class="h"><td><h1 class="p">Headers</h1>
      </td></tr>
      </table><br />
      <table border="0" cellpadding="3" width="600">
      <tr class="h"><th>Field</th><th>Value</th></tr>
      <%%= headers %>
      </table><br /><hr />
      
      <table border="0" cellpadding="3" width="600">
      <tr class="h"><td><h1 class="p">Server Environment</h1>
      </td></tr>
      </table><br />
      <table border="0" cellpadding="3" width="600">
      <tr class="h"><th>Variable</th><th>Value</th></tr>
      <%%= server_environment %>
      </table><br />
    </div>
  </body>
</html>