<%%
module HtmlHelper
  def HtmlHelper.generate_table(hash)
    str = ""
    hash.each do |key,val|
      str += "<tr>"
      str += "<td>#{key.class != String ? key.class != Symbol ? WEBrick::HTMLUtils.escape(key.inspect) : HtmlHelper.humanize(key) : key}</td>"
      if val.class == Hash
        str += "<td>#{generate_table(val)}</td>"
      else
        str += "<td>#{WEBrick::HTMLUtils.escape(val.inspect)}</td>"
      end
      str += "</tr>\n"
    end
    str
  end

  def HtmlHelper.humanize(sym)
    parts = sym.to_s.split(/(?=[A-Z])/)
    lparts = []
    concat = ""
    parts.each do |part|
      if part.length == 1
        concat += part
      else
        if concat.length > 1
          lparts << concat
          concat = ""
        end
        lparts << part
      end
    end
    lparts.join(" ")
  end
end
%>
<html>
<head>
<title><%%= "Hello " + "World" %></title>
</head>
<body>
<center><h2>Generated with Evaluated Ruby (ERB)</h2></center><br/>
<%%
if servlet_request.query["display"].nil? or servlet_request.query["display"] == "none"
%>
This page is generated each time you visit this page, just like with PHP.<br/>
<a href="?id=<%%= servlet_request.query["id"].nil? ? 1 : servlet_request.query["id"].to_i + 1 %>">Click here to increase the Counter</a><br/>
Counter is currently: <%%=
if servlet_request.query["id"].nil?
  "Not set yet."
else
  servlet_request.query["id"]
end
%><br/><br/><br/>
<a href="?display=environment">Show Environment</a>
<%%
elsif servlet_request.query["display"] == "environment"
%>
<center><h3>Server Configuration:</h3><br/>
<table border="1" width="75%">
  <th bgcolor="#8888FF">Attribute</th>
  <th bgcolor="#8888FF">Value</th>
  <%%=
    config = servlet_request.instance_variable_get(:@config).dup
    config.delete(:MimeTypes)
    HtmlHelper.generate_table(config)
  %>
</table><br/><br/>
<h3>Mime Types</h3><br/>
<table border="1" width="75%">
  <th bgcolor="#8888FF">Extension</th>
  <th bgcolor="#8888FF">Mime</th>
  <%%=
    HtmlHelper.generate_table(servlet_request.instance_variable_get(:@config)[:MimeTypes])
  %>
</table><br/><br/>
<h3>Request Header</h3><br>
<table border="1" width="75%">
  <th bgcolor="#8888FF">Parameter</th>
  <th bgcolor="#8888FF">Value</th>
  <%%=
    HtmlHelper.generate_table(servlet_request.header)
  %>
</table><br/><br/>
</center>
<%%
end
%>
</body>
</html>