<html>
<head>
<title>Hello World!</title>
</head>
<body>
<center><h1>Hello World!</h1></center>
You are currently looking at a plain HTML file, being served by WEBrick.<br/>
You can check out other things being served by going <a href="/servlets/<%= app_class_name %>">here</a>
or by going <a href="/index2.rhtml">here.</a><br />
You can also check out the Ruby information for this running server,<br/>
by going <a href="/rubyinfo">here</a>.
</body>
</html>